.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  color: orange;
}
body{
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}
/*Media Query*/

/*@@media(min-width:1200px){
  .container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}*/
@media(max-width:1200px){
.container{
    width: 90%;
    color: black;
    /*margin-left: auto;
    margin-right: auto;*/
  }
}
@media(max-width:900px){
.container{
    width: 90%;
    color: blue;
  }
}
